:root {
  --light-background-color-btn-icon: #ffffff;
  --light-card-questionpool-card-color: rgb(85, 85, 85);
  --light-card-text-color: aliceblue;
  --light-card-question-card-color: rgb(228, 228, 228);
  --light-background-color-card-div: rgb(228, 228, 228);
  --light-background-none-color-btn-icon: rgb(0, 114, 180);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rowCards {
  width: 100%;
}

.colCards {
  width: 30%;
}

.btnRound {
  border-radius: 50%;
}

.btnIcons {
  color: var(--light-background-color-btn-icon);
}

.btnBackgroundNoneIcons {
  color: var(--light-background-none-color-btn-icon);
}

.btnBackgroundNone {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
